:root {
    --bg: #f9f9f9;
    --texto: #333;
    --fundo-padrao: #ffffff;
    --sombra: rgba(0, 0, 0, 0.212);
}

.dark {
    --bg: #121214;
    --texto: #e6e6e6;
    --fundo-padrao: #1b1b1f;
    --sombra: rgba(255, 255, 255, 0.212);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--texto);
}

h1 {
    text-align: center;
    margin: 10px 0px;
    font-size: 3rem;
}

.tema-toggle {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 2000;
}

.tema-toggle button {
    height: 42px;
    width: 42px;
    border-radius: 8px;
    border: none;
    display: grid;
    place-items: center;
    background-color: var(--fundo-padrao);
    color: var(--texto);
    box-shadow: 0 2px 8px var(--sombra);
    cursor: pointer;
}

.container-produtos {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

.filtro-categoria {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 8px;
    background-color: var(--fundo-padrao);
    color: var(--texto);
    border: 1px solid rgb(194, 189, 189);
}

.filtro-categoria:focus {
    border: 1px solid #2A77F1;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 24%));
    gap: 10px;
}

.item-produto {
    display: flex;
    flex-direction: column;

    list-style: none;
    min-width: 170px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    height: fit-content;
    background-color: var(--fundo-padrao);
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px var(--sombra);

    transition: .2s ease-in-out;
}

.item-produto:hover {
    transition: .2s ease-in-out;
    border-color: #2A77F1;
    transform: scale(1.01);
}

.img-produto {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-produto h3, p {
    text-align: center;
}

.item-produto button {
    padding: 10px;
    margin: 0px 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #2A77F1;
    cursor: pointer;

    transition: .2s ease-in-out;
}

.item-produto button:hover {
    background-color: #4b90ff;

    transition: .2s ease-in-out;
}

.total-e-carrinho {
    display: flex;
    justify-content: end;
    gap: 10px;

    position: sticky;
    bottom: 20px;
    z-index: 1000;
}

.total-e-carrinho h2 {
    background-color: #ffffffcb;
    color: #333;
    padding: 8px 12px;
    max-width: 55vw;
    border-radius: 8px;
    box-shadow: 0 6px 18px var(--sombra);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.total-e-carrinho button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #ffffffcb;
    border: 3px #2A77F1;
    border-style: outset;
    box-shadow: 0 6px 18px var(--sombra);
    cursor: pointer;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.carrinho-modal-background {
    display: flex;
    align-items: end;
    justify-content: end;

    position: fixed;
    inset: 0;
    z-index: 2000;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.fechado {
    display: none;
}

.modal {
    background: var(--fundo-padrao);
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    min-height: 250px;
    max-height: 98vh;
    box-shadow: 0 2px 10px var(--sombra);
}

.div-botao-fechar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 30px;
}

.botao-fechar {
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    background-color: var(--fundo-padrao);
    color: var(--texto);

    border: 3px solid #2A77F1;
    cursor: pointer;
}

.btn-modal-remover {
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.lista-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    list-style-type: none;
}

.produto-modal-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding-bottom: 5px;
}

.total-modal {
    margin-top: 10px;
    font-weight: 700;
}



@media screen and (max-width: 810px) {
    .produtos {
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    }
}

@media (min-width: 400px) and (max-width: 524px) {
    .img-produto {
        height: 200px;
    }

    .item-produto h3 {
        font-size: .9rem;
    }
}

@media (max-width: 425px) {
    .tema-toggle button {
        height: 35px;
        width: 35px;
    }
}