* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.container-produtos {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    /* border: 1px dashed black; */
}

.filtro-categoria {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid rgb(194, 189, 189);
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 24%));
    gap: 10px;
}

.item-produto {
    display: flex;
    flex-direction: column;

    list-style: none;
    min-width: 170px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.212);

    transition: .2s ease-in-out;
}

.item-produto:hover {
    transition: .2s ease-in-out;
    border-color: #2A77F1;
    transform: scale(1.01);
}

.item-produto img {
    width: 100%;
}

.item-produto h3, p {
    text-align: center;
}

.item-produto button {
    padding: 10px;
    margin: 0px 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #2A77F1;

    transition: .2s ease-in-out;
}

.item-produto button:hover {
    background-color: #4b90ff;

    transition: .2s ease-in-out;
}

.carrinho-modal-background {
    position: fixed;
    inset: 0;
    /* background: rgba(0,0,0,0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fechado {
    display: none;
}

.modal {
    background: #fff;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    max-width: 480px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.lista-modal {
    list-style-type: none;
}



@media screen and (max-width: 810px) {
    .produtos {
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    }
}